body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


/**************** NAVBAR *****************/

#navbar {
    width: 75%;
    display: flex;
    margin: auto;
    margin-top: 2%;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

#navbar>img {
    width: 250px;
}

#nav-right {
    display: flex;
    align-items: center;
}

#nav-right>a,
.dropdown {
    margin-left: 4px;
    padding: 20px 12px;
    color: #333333db;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.dropbtn {
    background-color: white;
    border: none;
    margin-left: 4px;
    padding: 20px 12px;
    color: #333333db;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

#nav-right>a:hover,
.dropbtn:hover {
    color: #ff763f;
}

#btn-login {
    margin-left: 30px;
}

#btn-login>a {
    padding: 10px 36px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ff763f;
    color: #ff763f;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1px;
    border-radius: 8px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
}

#btn-login>a:hover {
    background-color: rgba(0, 0, 0, 0.040);
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content>a {
    position: relative;
    display: block;
    float: none;
    /* width: 100%; */
    color: black;
    padding: 20px;
    text-decoration: none;
    gap: 20px;
    align-items: center;
}

.dropdown-content>a>img {
    width: 15%;
}

.drop-title {
    font-size: 20px;
}

.drop-detail {
    font-size: 19px;
    color: rgba(40, 51, 56, 0.6);
}

.dropdown-content a:hover {
    background-color: rgba(221, 221, 221, 0.597);
    color: #ff763f;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/**************** TOP-SECTION *****************/

#section-1 {
    width: 75%;
    display: grid;
    margin: auto;
    margin-top: 1%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 16px;
}

#left-col {
    padding-top: 6%;
}

#left-col>h2 {
    font-size: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    font-weight: bolder;
    margin-bottom: 2%;
    color: #4f4e53;
}

#left-col-down {
    flex-direction: column;
    align-items: flex-start;
}

#left-col-down>h4 {
    margin-top: 20px;
    margin-bottom: 63px;
    padding-right: 50px;
    color: #4f4e53;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
}

#left-col-down>a {
    padding: 17px 55px;
    border-radius: 5px;
    color: white;
    background-color: #ff763f;
    font-weight: 600;
    font-size: 20px;
}

#left-col-down>a:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#left-col-down>p {
    margin-top: 60px;
    color: #404040;
    font-size: 19.5px;
}

#left-col-down>p>a {
    color: #404040;
    font-weight: 600;
    text-decoration: underline;
}

#left-col-down>p>a:hover {
    color: #ff763f;
}

#right-col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-right: 110px;
}


/**************** SOCIAL MEDIA SECTION *****************/

#social-media {
    /* border: 1px solid red; */
    width: 75%;
    margin: auto;
    margin-top: 60px;
}

#social-media>h4 {
    text-align: center;
    font-weight: 400;
    letter-spacing: normal;
    font-size: 23px;
    color: #4f4e53;
    margin-bottom: 25px;
}

#social-imgs {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 16px;
    align-items: center;
    margin-bottom: 40px;
}

#social-imgs>img {
    width: 50%;
    justify-self: center;
}

#app-link {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

#app-link>img {
    width: 15%;
    cursor: pointer;
}


/**************** DISCOVER YOUR NUTRITION SECTION *****************/

#section-2 {
    background-color: #f8f8f8;
    width: 100%;
    margin-top: 80px;
}

#nutrition-part {
    text-align: center;
    width: 75%;
    margin: auto;
}

#nutrition-part>h3 {
    font-weight: 700;
    color: #4f4e53;
    font-size: 36px;
    padding-top: 90px;
    line-height: 1px;
}

#nutrition-part>h5 {
    font-size: 23px;
    width: 55%;
    margin: auto;
    color: #4f4e53d6;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 30px;
}

#nutrition-list {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 70px;
}

#nutrition-list>div {
    text-align: center;
    padding: 15px 15px 10px 15px;
}

#nutrition-list>#list-1>img {
    width: 33%;
}

#nutrition-list>#list-2>img {
    width: 28%;
}

#nutrition-list>#list-3>img {
    width: 30%;
}

#nutrition-list>div>h5 {
    font-weight: 600;
    text-align: center;
    color: #4f4e53;
    font-size: 20px;
    line-height: 1px;
}

#nutrition-list>div>p {
    color: #404040ba;
    font-size: 20px;
}


/**************** HEALTHY HABITS SECTION *****************/

#healthy-part {
    text-align: center;
    width: 79%;
    margin: auto;
}

#healthy-part>h3 {
    font-weight: 700;
    color: #4f4e53;
    font-size: 36px;
    margin-top: 90px;
    line-height: 1px;
}

#healthy-part>h5 {
    font-size: 23px;
    width: 46%;
    margin: auto;
    color: #4f4e53d6;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 30px;
}

#healthy-list {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 40px;
    margin-top: 80px;
    margin-bottom: 60px;
}

#healthy-list>div {
    text-align: center;
    padding: 15px 15px 10px 15px;
}

#healthy-1>img {
    width: 27%;
}

#healthy-2>img {
    width: 26%;
}

#healthy-3>img {
    width: 27%;
}

#healthy-4>img {
    width: 24%;
}

#healthy-5>img {
    width: 29%;
}

#healthy-6>img {
    width: 25%;
}

#healthy-list>div>h5 {
    font-weight: 700;
    text-align: center;
    color: #4f4e53;
    font-size: 20px;
}

#healthy-list>div>p {
    color: #404040ba;
    font-size: 20px;
}


/**************** SIGN UP SECTION *****************/

#section-4 {
    width: 100%;
    background-color: #f8f8f8;
}

#section-4-i {
    width: 75%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
}

#section-4-i>h4 {
    font-weight: 600;
    font-size: 29px;
    width: 55%;
    margin: auto;
    color: #4f4e53;
    line-height: 40px;
}

#section-4-signup {
    margin-top: 55px;
}

#section-4-signup>a {
    padding: 17px 65px;
    border-radius: 5px;
    color: white;
    background-color: #ff763f;
    font-weight: 600;
    font-size: 20px;
}

#section-4-signup>a:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/**************** SYNC WITH APPS AND DEVICES SECTION *****************/

#section-5 {
    width: 75%;
    margin: auto;
    text-align: center;
}

#section-5>h3 {
    margin-top: 80px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #4f4e53;
    line-height: 0px;
}

#section-5>h5 {
    font-size: 23px;
    font-weight: 400;
    color: #4f4e53;
}

#section-5>img {
    width: 80%;
    margin-bottom: 40px;
}

hr {
    width: 75%;
    margin: auto;
}


/**************** CRONOMETER REVIEWS SECTION *****************/

#section-6 {
    width: 75%;
    margin: auto;
}

#section-6>h3 {
    margin-top: 80px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #4f4e53;
    line-height: 0px;
}

#section-6>h5 {
    font-size: 22px;
    font-weight: 400;
    color: #4f4e53;
    text-align: center;
}

#review-1 {
    display: grid;
    width: 71%;
    margin: auto;
    margin-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 40px;
    padding: 40px;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#review-left>h4 {
    color: #ff763f;
    font-size: 28px;
    font-weight: 600;
    margin-top: 125px;
    padding-left: 30px;
}

#review-left>a {
    align-items: center;
}

#review-left>a>img {
    width: 32%;
    margin-top: 15px;
    margin-left: 150px;
}

#review-right>p:nth-child(1) {
    font-size: 19px;
    line-height: 28px;
}

#review-right>p:nth-child(2) {
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

#review-2 {
    display: grid;
    width: 71%;
    margin: auto;
    margin-top: 70px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 40px;
    padding: 40px;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#review-2-left>p:nth-child(1) {
    color: #404040;
    font-size: 1.125em;
    line-height: 1.5em;
}

#review-2-left>p:nth-child(2) {
    color: #5c5c5c;
    font-size: 1em;
    font-weight: 600;
    text-align: left;
}

#review-2-right>h4 {
    color: #ff763f;
    font-size: 28px;
    font-weight: 600;
    margin-top: 50px;
    padding-left: 20px;
}

#review-2-right>a>img {
    width: 32%;
    margin-top: 15px;
    margin-left: 150px;
}


/**************** ABOUT PRO SECTION *****************/

#section-7 {
    width: 100%;
    background-color: #f8f8f8;
    margin-top: 75px;
}

#section-7-i {
    display: grid;
    width: 75%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding-bottom: 40px;
}

#section-7-i>div {
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

#sec-7-left>img {
    width: 65%;
    /* margin-left: 20px; */
}

#sec-7-right>img {
    width: 45%;
}

#sec-7-r-h5 {
    color: #4f4e53;
    font-size: 22px;
    line-height: 10px;
    text-align: center;
}

#sec-7-r-h5-1 {
    color: #4f4e53;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
}

#sec-7-right>a {
    padding: 12px 45px;
    border: 1px solid #35934b;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 15%);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    color: #35934b;
}

#sec-7-right>a:hover {
    background-color: #ebeaea;
}


/**************** ABOUT US SECTION *****************/

#section-8 {
    width: 75%;
    margin: auto;
    align-items: center;
    text-align: center;
    margin-bottom: 90px;
}

#section-8>h3 {
    font-size: 35px;
    font-weight: 700;
    color: #4f4e53;
    margin-top: 90px;
    line-height: 0px;
    text-align: center;
}

#section-8>h5 {
    font-size: 24px;
    font-weight: 400;
    color: #4f4e53;
    text-align: center;
    width: 52%;
    margin: auto;
}

#section-8>img {
    width: 80%;
    margin-top: 60px;
    border-radius: 5px;
}

#section-8>p {
    width: 77%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 18px;
    color: #404040;
}

#section-8>a {
    border: 1px solid #ff763f;
    color: #ff763f;
    box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 15%);
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 70px;
}

#section-8>a:hover {
    background-color: #ebeaea;
}


/**************** AFFILIATE SECTION *****************/

#section-9 {
    width: 75%;
    margin: auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

#section-9>h5 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    color: #4f4e53;
}

#section-9>a {
    border: 1px solid #ff763f;
    color: #ff763f;
    box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 15%);
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 70px;
}

#section-9>a:hover {
    background-color: #ebeaea;
}


/**************** FOOTER SECTION *****************/

#footer {
    width: 100%;
    background-color: #4f4e53;
}

#footer-div-1 {
    padding: 60px 20px;
    text-align: center;
}

#social-meadia-icons>a>img {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

#footer-app-link {
    margin-top: 30px;
}

#footer-app-link>a>img {
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
}

#footer-div-2 {
    width: 75%;
    margin: auto;
    padding-top: 50px;
}

#footer-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 16px;
}

#footer-menu-img>img {
    width: 80%;
}

#head {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 1px;
}

#sub-head {
    color: #fff;
    font-size: 16px;
    line-height: 37px;
}

#sub-head>a {
    color: #fff;
}

#sub-head>a:hover {
    color: #ff763f;
}

#footer-div-3 {
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-size: 19px;
    padding-bottom: 20px;
}

@media all and (min-width: 451px) and (max-width: 750px) {}

@media all and (min-width: 100px) and (max-width: 450px) {}